
<div class="row">
    <app-post-open-popup *ngIf="showPostPopup" [currentPost]="currentPost" (updateData)="updateData()" (close)="closePostPopup()"></app-post-open-popup>
    <!-- <button type="button" (click)="openPostPopup()" class="btn btn-sm btn-primary mb-3">Post</button> -->
    <div class="col-sm-12 col-xl-8">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-3 text-center">If You Are Looking Member or Team Post Your Request With Information Here ... <button type="button" (click)="openPostPopup()" class="btn btn-sm btn-primary">New Post</button></h6>
            
            <!-- <div class="form-floating mb-2">
                <input [(ngModel)]="currentPost.title" type="text" class="form-control form-control-sm" id="hacknmae" placeholder="ABCD Hackathon">
                <label for="hacknmae">Hackathon Name</label>
            </div>
            <div class="form-floating">
                <textarea [(ngModel)]="currentPost.content" class="form-control" placeholder="Write Your Post Here ..." id="posthere"
                    style="height: 100px;">Example : I am looking for a team to participate in a hackathon. I am a web developer and I have experience in React, Node.js, and MongoDB. I am looking for a team that has a designer and a backend developer. #react #nodejs #mongodb #backend #frontend #webdeveloper #designer #hackathon
                </textarea>
                <label for="posthere">Write Your Post Here ...</label>
            </div> 
            <div class="row">
                <div class="col-3 mb-1 mt-2">
                    <select [(ngModel)]="currentPost.types" class="form-select form-select-sm">
                        <option [ngValue]="null" [selected]="!currentPost.types">Looking For</option>
                        <option value="Team">Team</option>
                        <option value="Member">Member</option>
                    </select>
                </div>
                <div class="col-3 mb-1 mt-2">
                    <select [(ngModel)]="currentPost.member" class="form-select form-select-sm">
                        <option [ngValue]="null" [selected]="!currentPost.member">Number Of Member</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col-3 mb-1 mt-2"></div>
                <div class="col-3 mb-3 mt-2">
                    <button *ngIf="isPostbtn"  type="button" (click)="postHackPosts()" class="btn btn-sm btn-outline-success w-100">Post</button>
                    <button *ngIf="isUpdatebtn" type="button" (click)="Update()" class="btn btn-sm btn-outline-primary mr-1 w-50">Update</button>
                    <button *ngIf="isCancelbtn" type="button" (click)="Cancel()" class="btn btn-sm btn-outline-danger w-50">Cancel</button>
                </div>
            </div> -->

            <hr>
            <div class="row">
                <div class="col-3">
                    <input [(ngModel)]="searchTopic" (ngModelChange)="getSearchedPosts()" class="form-control form-control-sm" type="text" placeholder="Type #tag" aria-label=".form-control-sm example">
                </div>
                <!-- <div class="col-3">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected="">Hackathon</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div> -->
                <div class="col-3">
                    <select  [(ngModel)]="searchType" (ngModelChange)="getSearchedPosts()" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option ngValue="" selected="">Posts Type</option>
                        <option value="Member">Member</option>
                        <option value="Team">Team</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="button" (click)="clearVal()" class="btn btn-sm btn-outline-warning">Reset</button>
                </div>
            </div>
            <hr>
            
            <div *ngFor="let item of postData" class="card mb-3" data-aos="zoom-in">
                <div class="card-body text-muted">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img src="assets/img/user.jpg" class="rounded-circle" width="40" height="40" alt="...">
                            <div class="ms-2">
                                <h6 class="card-title text-dark">{{item.user|titlecase}}</h6>
                                <p class="card-text"><small class="text-muted">{{item.created_at|date:'MMM d,h:mm a'}} <ng-container *ngIf="item.created_at != item.updated_at">[Edited : {{item.updated_at|date:'MMM d,h:mm a'}}]</ng-container></small></p>
                            </div>
                        </div>
                        
                        <div class="dropdown dropstart">
                            <button class="btn btn-sm btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" (click)="openPostPopupData(item)"><i class="fas fa-pencil-alt"></i> Edit</a></li>
                                <li><a class="dropdown-item" (click)="deleteHackPosts(item.id)"><i class="fas fa-trash-alt"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="card-title mt-1 text-primary">{{item.title|titlecase}} <i class="text-muted">( Looking For {{item.types}}: {{item.member}})</i></h6>
                    <p class="card-text">{{item.content}}</p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <button (click)="postLike(item.id)" type="button" class="btn btn-sm btn-outline-primary"> <i class="fa fa-heart"> {{item.like_count}}</i>
                                <!-- <i class="fa fa-thumbs-up"></i> -->
                            </button>
                            <button type="button" class="btn btn-sm ms-2 btn-outline-primary"> <i class="fa fa-comment"> {{item.comment_count}}</i></button>
                            <button type="button" (click)="openPopup(item)" class="btn btn-sm ms-2 btn-outline-primary"> <i class="fa fa-book-reader"></i></button>
                        </div>
                        <div class="d-flex">
                            <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-share"></i></button>
                        </div>
                    </div>
                </div>
                <app-post-popup *ngIf="item.showPopup" [postData]="item.id" (close)="closePopup(item)"></app-post-popup>
            </div>
            <div class="text-center">
                <i *ngIf="!loading" (click)="loadMore()" class="text-success">Show More</i>
                <i *ngIf="loading" class="text-primary">No More Post</i>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-xl-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Updates</h6>
            <!-- {{hData|json}} -->
            <!-- <div *ngFor="let item of hData" class="card mb-3">
                <div class="card-body">
                    <h6 class="card-title text-primary">{{item.title}}</h6>
                    <p class="card-text">Example : I am looking for a team to participate in a hackathon. I am a web developer and I have experience in React, Node.js, and MongoDB. I am looking for a team that has a designer and a backend developer. #react #nodejs #mongodb #backend #frontend #webdeveloper #designer #hackathon</p>
                    
                </div>
            </div> -->

            <div *ngFor="let item of hData" class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header bg-gradient">
                    <h5 class="card-title text-dark">{{ item.title }}</h5>
                    </div>
                    <div class="card-body">
                    <p class="card-text">{{ item.description | slice:0:60 }} ...</p>
                    <hr>
                    <p class="card-text m-0">
                        <i class="far fa-calendar-alt"></i> Start Date: {{ item.start_date | date }}<br>
                        <i class="far fa-calendar-alt"></i> End Date: {{ item.end_date | date }}
                    </p>
                    <p class="card-text m-0">
                        <i class="fas fa-money-bill-wave"></i> Registration Fee: {{ item.registration_fee }}<br>
                        <i class="fas fa-trophy"></i> Prize: {{ item.prize }}
                    </p>
                    </div>
                    <div class="card-footer bg-gradient">
                    <small class="text-muted">
                        <i class="fas fa-link"></i> <a href="{{ item.link }}" target="_blank">More Info</a>
                    </small>
                    </div>
                </div>
                </div>

        </div>
    </div>

</div>
      