<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <app-leftnav></app-leftnav>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <app-topnav></app-topnav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4">
            <div class="row">
                <div class="col-sm-12 col-xl-8">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Post</h6>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Write Your Post Here ..." id="posthere"
                                style="height: 100px;">Example : I am looking for a team to participate in a hackathon. I am a web developer and I have experience in React, Node.js, and MongoDB. I am looking for a team that has a designer and a backend developer. #react #nodejs #mongodb #backend #frontend #webdeveloper #designer #hackathon
                            </textarea>
                            <label for="posthere">Write Your Post Here ...</label>
                        </div>
                        <!-- <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div> -->
                        <div class="row">
                            <div class="col-4 form-floating mb-1 mt-2">
                                <select class="form-select form-select-sm" id="floatingSelectT" aria-label="Floating label select example">
                                    <option selected>select here</option>
                                    <option value="Team">Team</option>
                                    <option value="Member">Member</option>
                                </select>
                                <label for="floatingSelectT">&nbsp;&nbsp; Looking For</label>
                            </div>
                            <div class="col-4 form-floating mb-1 mt-2">
                                <select class="form-select form-select-sm" id="floatingSelectM" aria-label="Floating label select example">
                                    <option selected>select here</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <label for="floatingSelectM">&nbsp;&nbsp; Number of Member</label>
                            </div>
                            <div class="col-4 mb-3 mt-2">
                                <button type="button" class="btn btn-outline-success m-2">Success</button>
                            </div>
                        </div>

                        <hr>
                        
                        <div *ngFor="let item of postData" class="card mb-3">
                            <div class="card-body text-muted">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <img src="assets/img/user.jpg" class="rounded-circle" width="40" height="40" alt="...">
                                        <div class="ms-2">
                                            <h6 class="card-title text-dark">{{item.user|titlecase}}</h6>
                                            <p class="card-text"><small class="text-muted">{{item.created_at|date:'short'}}</small></p>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="card-title mt-1 text-primary">{{item.title|titlecase}}</h6>
                                <p class="card-text">{{item.content}}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-sm btn-outline-primary">
                                            <i class="fa fa-heart"> {{item.like_count}}</i>
                                            <!-- <i class="fa fa-thumbs-up"></i> -->
                                        </button>
                                        <button type="button" class="btn btn-sm ms-2 btn-outline-primary"> <i class="fa fa-comment"> {{item.comment_count}}</i></button>
                                    </div>
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa fa-share"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-xl-4">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Updates</h6>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">HackMates</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        Designed By <a href="https://github.com/rock12231">ROCK</a>
                        <!-- <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>