<div class="container-fluid position-relative d-flex p-0">
    <!-- forgotpass -->
    <div *ngIf="ShowForgetPassword" class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="">
                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HackMates</h3>
                        </a>
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" [(ngModel)]="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <button type="submit" (click)="forgotPass()" class="btn btn-primary py-3 w-100 mb-4">forgot Password</button>
                    <p class="text-center mb-0">I have an Account? <a [routerLink]="['/login']">Login</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- forgotpass -->
    <!-- Resetpass -->
    <div *ngIf="!ShowForgetPassword" class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="">
                            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HackMates</h3>
                        </a>
                        <h3>Reset Password</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" [(ngModel)]="email" disabled class="form-control" id="email" placeholder="name@example.com">
                        <label for="email">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" [(ngModel)]="otp" class="form-control" id="otp" placeholder="6 Digit OTP">
                        <label for="otp">OTP</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" [(ngModel)]="new_password" class="form-control" id="Password" placeholder="New Password">
                        <label for="Password">New Password</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" [(ngModel)]="confirm_password" class="form-control" id="rePassword" placeholder="Confirm Password">
                        <label for="rePassword">Confirm Password</label>
                    </div>
                    <button type="submit" (click)="ResetPass()" class="btn btn-primary py-3 w-100 mb-4">Save Password</button>
                    <p class="text-center mb-0">I have an Account? <a [routerLink]="['/login']">Login</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Resetpass -->
</div>